{% extends 'base.html' %}
{% load static %}
{% block titel %}
    تیم تلسک
{% endblock %}

{% block static_files %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style/_about-member-team.css' %}">
    <link rel="stylesheet" href="{% static 'style/allstyle.css' %}">
    <!-- <link rel="stylesheet" href="./style/style.css"> -->
    <link rel="stylesheet" href="{% static 'style/product-breadcrumb.css' %}">
    <link rel="stylesheet" href="{% static 'tyle/botton-top.css' %}s">
    <link rel="stylesheet" href="{% static 'style/login-form-modal.css' %}">
    <link rel="stylesheet" href="{% static 'style/checkout.css' %}">
    <!-- <link rel="stylesheet" href="./style/allstyle.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}
{% block content %}
<body>
    <!--header begin-->

    <!-- navbar-addres begin-->
    <div class="container my-5">
      <div class="row">
        <div class="col-sm-12">
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="navbar_address">
            <ol class="breadcrumb custom-breadcrumb">
              <li class="breadcrumb-item px-2"><a href="#" class="px-0">خانه</a></li>
              <li class="breadcrumb-item active px-0" id="icon_breadcrumb" aria-current="page">درباره ما</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <!-- navbar-addres end-->
    <!-- about team begin -->
    <section class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow" src="{% static 'img/members telesk/s-morteza hosseini.png' %}" alt="">
                  <p class="text-secondary name-member-team">سید مرتضی حسینی</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow" src="{% static 'img/members telesk/saeid sabri.png' %}" alt="">
                  <p class="text-secondary name-member-team">سعید صبری</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow" src="{% static 'img/members telesk/s-mojtaba hosseini.png' %}" alt="">
                  <p class="text-secondary name-member-team">سید مجتبی حسینی</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow" src="{% static 'img/members telesk/najmeh kafaei.png' %}" alt="">
                  <p class="text-secondary name-member-team">نجمه کفایی</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/maryam rahiminezhad.png' %}" alt="">
                  <p class="text-secondary name-member-team">مریم رحیمی نژاد</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/narges vaziri.png' %}" alt="">
                  <p class="text-secondary name-member-team">نرگس وزیری</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/fereshteh hemmati.png' %}" alt="">
                  <p class="text-secondary name-member-team">فرشته همتی</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/hanieh seifi.png' %}" alt="">
                  <p class="text-secondary name-member-team">هانیه سیفی</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/faezeh shariat.png' %}" alt="">
                  <p class="text-secondary name-member-team">فائزه شریعت</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/elnaz zanganeh.png' %}" alt="">
                  <p class="text-secondary name-member-team">الناز زنگنه مقدم</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/zahra ghasemian.png' %}" alt="">
                  <p class="text-secondary name-member-team">زهرا قاسمیان</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/mohammad reza davtalab.png' %}" alt="">
                  <p class="text-secondary name-member-team">محمد رضا داوطلب</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/sina nezhad hamzeh.png' %}" alt="">
                  <p class="text-secondary name-member-team">سید سینا نژاد حمزه</p>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div>
                <a href="#">
                  <img class="img-fluid rounded-circle img-member shadow mt-4" src="{% static 'img/members telesk/alireza sabri.png' %}" alt="">
                  <p class="text-secondary name-member-team">علیرضا صبری</p>
                </a>
              </div>
            </div>            
        </div>
    </section>
    <!-- about team end -->
{% endblock %}

</body>
</html>