{% extends 'base.html' %}
{% load static %}
{% block title %} Telesk {% endblock %}
{% block content %}
     <!--section Selection begin-->
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
     <div id="my-carousel" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#my-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#my-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#my-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/baner/banner-1.jpg' %}" class="banner align-content-center" style="object-fit:contain;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/baner/banner-4.jpg' %}" class="banner align-content-center" style="object-fit:fill;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/baner/banner-2.jpeg' %}" class="banner align-content-center" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#my-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#my-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section>
    <div class="container overflow-hidden">

      <div class="row">
        <div class="col-12 text-center pt-5 pb-0">
          <h3>چرا تلسک؟</h3>
        </div>
      </div>

      <div class="row banner-selection" id="selection_row">

        <div class="col-12 col-md-6 col-lg-3 py-3 wpb_column vc_column_container vc_col-sm-3">
          <div class="vc-column-inner">
            <div class="wpb_wrapper">
              <div class="info-box-wrapper">
                <div class="wd-info-box wd-wpb text-center zoomin animated box-icon-align-top" id="wrapper1">
                  <div class="box-icon-wrapper box-with-icon selection-img">
                    <div class="info-box-icon">
                    <img src="{% static 'img/selection/s1.jpeg' %}" alt="" class="info-icon select-img" width="120" height="120" data-was-processed="true">
                    </div>
                  </div>

                  <div class="info-box-text">
                    <h4 class="info-box-title title">پک های آموزشی رباتیک</h4>
                    <div class="info-box-inner info-text">
                      <p class="info">این پک شامل تمامی اطلاعات و مهارت‌های
                     لازم برای ساخت و برنامه‌ریزی ربات‌های جذاب و هوشمند است.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 py-3 wpb_column vc_column_container vc_col-sm-3">
          <div class="vc-column-inner">
            <div class="wpb_wrapper">
              <div class="info-box-wrapper">
                <div class="wd-info-box wd-wpb text-center box-icon-align-top" id="wrapper1">
                  <div class="box-icon-wrapper box-with-icon selection-img">
                    <div class="info-box-icon">
                    <img src="{% static 'img/selection/s2.jpg' %}" alt="" class="info-icon select-img" width="120" height="120" data-was-processed="true">
                    </div>
                  </div>

                  <div class="info-box-text">
                    <h4 class="info-box-title title">ارائه روش های نوین آموزشی</h4>
                    <div class="info-box-inner info-text">
                      <p class="info">امروزه روش های نوین و کارآمدی برای
                        یادگیری نوجوانان و کودکان وجود دارد
                        و تلسک نیز از این روش ها بهره میبرد.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 py-3 wpb_column vc_column_container vc_col-sm-3">
          <div class="vc-column-inner">
            <div class="wpb_wrapper">
              <div class="info-box-wrapper">
                <div class="wd-info-box wd-wpb text-center box-icon-align-top" id="wrapper1">
                  <div class="box-icon-wrapper box-with-icon selection-img">
                    <div class="info-box-icon">
                    <img src="{% static 'img/selection/s3.jpg' %}" alt="" class="info-icon select-img" width="120" height="120" data-was-processed="true">
                    </div>
                  </div>

                  <div class="info-box-text">
                    <h4 class="info-box-title title">ارائه مشاوره برای آشنایی </h4>
                    <div class="info-box-inner info-text">
                      <p class="info">تلسک با اهداف و نیاز های شما
                        سازگاری دارد؛ همچنین میتوانید با بررسی رزومه تلسک
                        و اساتید و تیم اش
                        ار این بابت اطمینان کسب کنید.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 py-3 wpb_column vc_column_container vc_col-sm-3">
          <div class="vc-column-inner">
            <div class="wpb_wrapper">
              <div class="info-box-wrapper">
                <div class="wd-info-box wd-wpb text-center box-icon-align-top" id="wrapper1">
                  <div class="box-icon-wrapper box-with-icon selection-img">
                    <div class="info-box-icon">
                    <img src="{% static 'img/selection/s4.jpg' %}" alt="" class="info-icon select-img" width="120" height="120" data-was-processed="true">
                    </div>
                  </div>

                  <div class="info-box-text">
                    <h4 class="info-box-title title">رشد علمی و کشف خلاقیت فرزندان شما</h4>
                    <div class="info-box-inner info-text">
                      <p class="info">رشد علمی و کشف خلافیت فرزندان دو موضوع مهم و حیاتی هستند
                         که نیازمند تلاش و پیگیری مداوم هستند.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--section Selection end-->
  <hr>

  <!--section Services begin-->
  <section class="container mt-5 overflow-hidden">

    <div class="row">
      <div class="col-12 text-center mb-2">
        <h3>خدمات</h3>
      </div>
    </div>
      <div class="" id="services_row">
        <div class="row owl-carousel bg-white">
          <a class="d-flex flex-column align-items-center col-12 col-md-6 col-lg-3" href="#">
            <div class="px-1">
              <div class="card custom-card" style="width: 18rem;">
                <img src="{% static 'img/services/s4.jpg' %}" class="card-img-top p-img mt-4" alt="..." width="200px" height="200px">
                <div class="card-body">
                  <p class="card-text">
                    <p>برگزاری کلاس ضمن خدمت</p>
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a class="d-flex flex-column align-items-center col-12 col-md-6 col-lg-3" href="#">
            <div class="px-1">
              <div class="card custom-card" style="width: 18rem;">
                <img src="{% static 'img/services/s3.jpg' %}" class="card-img-top p-img mt-4" alt="..." width="200px" height="200px">
                <div class="card-body">
                  <p class="card-text">
                    <p>پک کامل اموزشی</p>
                  </p>
                </div>
              </div>
            </div>
          </a>

          <a class="d-flex flex-column align-items-center col-12 col-md-6 col-lg-3" href="#">
            <div class="px-1">
              <div class="card custom-card" style="width: 18rem;">
                <img src="{% static 'img/services/s1.jpg' %}" class="card-img-top p-img mt-4" alt="..." width="200px" height="200px">
                <div class="card-body">
                  <p class="card-text">
                    <p>برگزاری معارفه در مدارس و اموزشگاه ها</p>
                  </p>
                </div>
              </div>
            </div>
          </a>

          <a class="d-flex flex-column align-items-center col-12 col-md-6 col-lg-3" href="#">
            <div class="px-1">
              <div class="card custom-card" style="width: 18rem;">
                <img src="{% static 'img/services/s2.png' %}" class="card-img-top p-img mt-4" alt="..." width="200px" height="200px">
                <div class="card-body">
                  <p class="card-text">
                    <p>آموزش  نحوه کار با پک های رباتیک</p>
                  </p>
                </div>
              </div>
            </div>
          </a>
      </div>
    </div>
  </section>
  <!--section Services end-->
  <hr>

  <!--section technology begin-->
  <section class="overflow-hidden">
    <div class="row">
      <div class="col-12 text-center mt-2 pt-3">
        <h3>تازه های تکنولوژی</h3>
      </div>
    </div>

    <div class="container mt-3 banner-technology">
      <div class="row">

        <div class="d-flex flex-column align-items-center col-12 col-md-3 py-3 banner-img-hover" >
            <p class="text-technology">ربات انسان نما</p>
            <a href="#">
              <img src="{% static 'img/technology/t1.gif' %}" class="banner-id img-fluid" alt="">
            </a>
            <p class="info-technology pt-4 text-center">یکی از ویژگی‌های مهم ربات انسان‌نما، راه رفتن روی دو پا است.
              حفظ تعادل ربات روی دو پا، کار سختی است که باعث می‌شود
              تا کنترل ربات نسبت به رباتی که روی دو چرخ حرکت می‌کند، بسیار مشکل شود
            </p>
            <div class="more-info">
            <button class="buttom-info">
              <a href="https://fa.wikipedia.org/wiki/%D8%B1%D8%A8%D8%A7%D8%AA_%D8%A7%D9%86%D8%B3%D8%A7%D9%86%E2%80%8C%D9%86%D9%85%D8%A7">اطلاعات بیشتر
                <i class="bi bi-arrow-left"></i>
              </a>
            </button>
            </div>

        </div>

        <div class="d-flex flex-column align-items-center col-12 col-md-3 py-3 banner-img-hover">
            <p class="text-technology">ربات هوشمند</p>
            <a href="#">
              <img src="{% static 'img/technology/t02.gif' %}" class="banner-id img-fluid" alt="">
            </a>
            <p class="info-technology pt-4 text-center">

            ربات‌های هوشمند با استفاده از هوش مصنوعی و یادگیری عمیق، قابلیت انجام کارهای پیچیده را دارند.
            این ربات‌ها می‌توانند در بسیاری از حوزه‌ها مانند صنعت، پزشکی، خدمات رسانی و ... مورد استفاده قرار گیرند.
            </p>
            <div class="more-info">
            <button class="buttom-info">
              <a href="https://robot.cfp.co.ir/fa/newsdetail/1074">اطلاعات بیشتر
                <i class="bi bi-arrow-left"></i>
              </a>
            </button>
            </div>
        </div>

        <div class="d-flex flex-column align-items-center col-12 col-md-3 py-3 banner-img-hover">
          <p class="text-technology">ربات پرنده</p>
          <a href="#">
            <img src="{% static 'img/technology/t3.gif' %}" class="banner-id img-fluid" alt="">
          </a>
          <p class="info-technology pt-4 text-center">
            ربات‌های پرنده با طراحی‌های متنوع که دارند
            دارای توانایی های مختلف اند و متناسب با نیازهای مختلف، می‌توانند در حوزه‌هایی مانند عکاسی،
             جستجو و نجات، بررسی وضعیت محیطی و ... مورد استفاده قرار گیرند.
          </p>
          <div class="more-info">
          <button class="buttom-info">
            <a href="https://robot.cfp.co.ir/fa/robots/flying">اطلاعات بیشتر
              <i class="bi bi-arrow-left"></i>
            </a>
          </button>
          </div>
      </div>

        <div class="d-flex flex-column align-items-center col-12 col-md-3 py-3 banner-img-hover">
          <p class="text-technology">ربات خانگی</p>
          <a href="#">
            <img src="{% static 'img/technology/t4.gif' %}" class="banner-id img-fluid" alt="">
          </a>
          <p class="info-technology pt-4 text-center">
            ربات خانگی نوعی ربات خدماتی است، رباتی خودمختار که در درجه اول برای کارهای خانه استفاده می‌شود،
             اما ممکن است برای آموزش، سرگرمی یا درمان نیز مورد استفاده قرار گیرد.
           تاکنون فقط چند مدل محدود وجود دارد.
          </p>
          <div class="more-info">
          <button class="buttom-info">
            <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.isna.ir%2Fnews%2F1401101811455%2F%25D8%25A7%25DB%258C%25D9%2586-%25D8%25B1%25D8%25A8%25D8%25A7%25D8%25AA-%25D8%25A8%25D8%25A7%25D9%2585%25D8%25B2%25D9%2587-%25D8%25A7%25D8%25B2-%25D8%25AE%25D8%25A7%25D9%2586%25D9%2587-%25D8%25B4%25D9%2585%25D8%25A7-%25D9%2585%25D8%25AD%25D8%25A7%25D9%2581%25D8%25B8%25D8%25AA-%25D9%2585%25DB%258C-%25DA%25A9%25D9%2586%25D8%25AF&psig=AOvVaw30fvGFct-QbLBENseNzebK&ust=1698215505341000&source=images&cd=vfe&opi=89978449&ved=0CBMQ3YkBahcKEwiY-vfxh46CAxUAAAAAHQAAAAAQFQ">اطلاعات بیشتر
              <i class="bi bi-arrow-left"></i>
            </a>
          </button>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--section technology end-->
{% endblock %}