 {% extends 'base.html' %}
 {% load static %}

 {% block title %} سبد خرید {% endblock %}




  {% block content %}
        <!-- navbar-addres -->
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-12">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="navbar_address">
          <ol class="breadcrumb custom-breadcrumb">
            <li class="breadcrumb-item px-2"><a href="./index.html" class="px-0">خانه</a></li>
            <li class="breadcrumb-item active px-0" id="icon_breadcrumb" aria-current="page">سبد خرید</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <!-- begin cart -->
  <section class="container">
 <table class="sabad shadow w-100 text-center">
     <thead>
         <tr class="">
             <th class="col-sm-2">تصویر</th>
             <th class="col-sm-2">محصول</th>
             <th class="col-sm-2">تعداد</th>
             <th class="col-sm-2">قیمت واحد</th>
             <th class="col-sm-2">قیمت</th>
             <th class="col-sm-2"></th>
         </tr>
     </thead>
     <tbody>
     {% for item in sabad %}
        {% with product=item.product %}

                 <tr>
                     <td>
                         <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image.url }}" style="width: 80px;">
                         </a>
                     </td>
                     <td>{{ product.name }}</td>
                     <td>
                        <!-- برا وارد کردن تعداد -->
                         <form  action="{% url 'sabad:sabad_add' product.id %}" method="post">
                             {{ item.update_product_count_form.product_count }}
                             {{ item.update_product_count_form.update }}
                             {% csrf_token %}
                             <input type="number" value="1" class="w-25">
                         </form>
                     </td>
                     <td class="num">تومان{{ item.price }}</td>
                     <td class="num">تومان{{ item.total_price }}</td>
                     <td><a href="{% url 'sabad:sabad_remove' product.id %}"><i class="bi bi-x-circle-fill cart-remove text-danger"></i></a></td>
                 </tr>
     {% endwith %}
     {% endfor %}

         <tr class="total border-top">
             <td class="py-4">جمع کل</td>
             <td colspan="4" class="py-4"></td>
             <td class="num py-4">تومان{{ sabad.get_total_price }}</td>
         </tr>
     </tbody>
 </table>
     <div class="text-right row mt-5">
         <div class="col-sm-6 text-center">
            <a href="{% url 'shophummin:store' %}" class="button light border text-dark p-2 border-secondary-subtle">ادامه خرید ...</a>
         </div>
         <div class="col-sm-6 text-center" >
            <a href="{% url 'shophummin:ordercompletion' %}" class="button light border text-dark p-2 border-secondary-subtle">ثبت سفارش </a>
         </div>
     </div>
  </section>

{% endblock %}




